n8n-olx-scraper.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -16,
        -160
      ],
      "id": "6be4b8f6-2363-46f7-8973-b037d754ca72",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "=https://olx.ba/api/search?attr=3932372843686f707065722c4372756973657229&attr_encoded=1&category_id=21&page=1&price_to=4500&per_page=100",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        32
      ],
      "id": "a56cf1b7-cd4f-4581-b71f-ba4ea15426f5",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_URL",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_URL",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        -256
      ],
      "id": "d365b2e8-96d1-42d5-bd1a-eaab0b0db06c",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JVHhdLPY8YJ6x45C",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "id",
              "field2": "id"
            }
          ]
        },
        "options": {
          "skipFields": "row_number"
        }
      },
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        1056,
        -96
      ],
      "id": "a4349820-a349-488d-ba3c-699c1d087558",
      "name": "Compare Datasets"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "04a3f7fd-5d4f-4b43-9396-1d30db6f9b12",
              "name": "id",
              "value": "={{ $json.id.toString() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        -176
      ],
      "id": "d5c2c5e8-8597-419e-b2fc-64fdc29bd1a0",
      "name": "Casting id to string"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "04a3f7fd-5d4f-4b43-9396-1d30db6f9b12",
              "name": "id",
              "value": "={{ $json.id.toString() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        16
      ],
      "id": "ba1436c3-9663-44b8-9436-670e31b6883e",
      "name": "Casting id to string2"
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=🚨 Novi motor na OLX!  🏍 {{ $json.title }} Cijena: {{ $json.price }} 🔗 [Otvori oglas](https://olx.ba/artikal/{{ $json.id }})",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1344,
        80
      ],
      "id": "656d02a1-5d72-4897-a489-d949f12319e2",
      "name": "Send a text message",
      "webhookId": "914c83c3-9069-4224-9405-e2bb10fffd57",
      "credentials": {
        "telegramApi": {
          "id": "KYTjw9Pdb5hwlrDR",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=NESTAO MOTOR SA PRETRAGE  🏍 {{ $json.title }}  🔗 [Otvori oglas](https://olx.ba/artikal/{{ $json.id }})",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1344,
        -128
      ],
      "id": "2ae57747-690d-4834-9e63-910c39d7c497",
      "name": "Send a text message1",
      "webhookId": "914c83c3-9069-4224-9405-e2bb10fffd57",
      "credentials": {
        "telegramApi": {
          "id": "KYTjw9Pdb5hwlrDR",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_URL",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_URL",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "title": "={{ $json.title }}",
            "price": "={{ $json.price }}",
            "url": "={{ $json.url }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1360,
        368
      ],
      "id": "6832a3fb-2828-48e2-944a-e369052b49db",
      "name": "Append or update row in sheet",
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JVHhdLPY8YJ6x45C",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_URL",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_URL",
          "mode": "url"
        },
        "startIndex": "={{ $json.row_number-1 }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1360,
        -320
      ],
      "id": "6d237f29-1660-43ec-9849-0a0bf7c68116",
      "name": "Delete rows or columns from sheet",
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JVHhdLPY8YJ6x45C",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "path": "YOUR_WEBHOOK_ID",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -48,
        -336
      ],
      "id": "26d0892c-1b03-4f89-bd79-77a4ed5c1dfc",
      "name": "Webhook",
      "webhookId": "YOUR_WEBHOOK_ID"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1120,
        256
      ],
      "id": "aa9cef81-ac5a-4c8f-b8ec-668385f4c65d",
      "name": "Wait",
      "webhookId": "f4765366-bf96-4fd0-b1d7-a468ff1d37b3"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "include": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        464,
        32
      ],
      "id": "1c0b4537-f4d5-4b9f-81c8-583093194205",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "beb52796-c7d5-4ac9-96e3-05825aef9873",
              "name": "id",
              "value": "={{ $json.data.id }}",
              "type": "number"
            },
            {
              "id": "09432660-2d2c-4ee1-bce4-5be6525c105a",
              "name": "title",
              "value": "={{ $json.data.title }}",
              "type": "string"
            },
            {
              "id": "e9b332c1-6a2b-419d-a8f5-d0a4b75444f8",
              "name": "price",
              "value": "={{ $json.data.price }}",
              "type": "number"
            },
            {
              "id": "64106da2-1cb3-422d-8fbe-5a6db8a2bce1",
              "name": "url",
              "value": "=https://olx.ba/artikal/{{ $json.data.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        32
      ],
      "id": "fa0c8cd6-1499-4206-a3e5-12813a933e44",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Casting id to string",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Datasets": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete rows or columns from sheet",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Casting id to string": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Casting id to string2": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Send a text message1": {
      "main": [
        []
      ]
    },
    "Delete rows or columns from sheet": {
      "main": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Casting id to string2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ba5246feacb69d415942705e76962fe4085cddf1854d9546393f274966a28008"
  }
}